$font-family: helvetica, sans-serif;
$background-color: rgb(223, 255, 65);
$color: rgb(19, 77, 236);

#root {
  background-color: $background-color;
  font-family: $font-family;
  color: $color;
  text-align: center;
  height: 50em;
}